:root {
    --background-white: #fff;
    --text-black: #333;
    --background-main: #f2f4f5 ;
    --background-sidebar: #f0f6ff;
    --text-gray: #555;
    --sidebar-width: 15rem;
    --top-title-background: #f0f6ff;
    --top-title-border: #c5cddb;
    --button-sidemenu-hover:#e6eff7;
    --table-header: #daedfc;
}

body {
    background-color: var(--background-main) !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.aside {
    height: 100vh;
    position: fixed;
    padding-top: 30px;
    width: var(--sidebar-width);
    background-color: var(--background-sidebar);
    border-right: 1px solid var(--top-title-border);
    z-index: 100;
}

.side-menu-list {
    padding-left: 1rem;
}

.side-menu-list a {
    list-style: none;
    padding-left: 10px;
}

.side-menu-item a {
    text-decoration: none;
    width: 100%;
    color: var(--text-gray);
}

.side-menu-item {
    width: 95%;    
    display: flex;
    padding: 8px;
    border-radius: 8px;
    color: var(--text-gray);
    transition: background-color ease-out 0.3s;
    transition: padding ease-out 0.3s;
}

.side-menu-item:hover {
    background-color: var(--button-sidemenu-hover);
    padding-left: 15px;
}

.content {
    margin-left: var(--sidebar-width);
    height: 100vh;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.card-table {
    border-radius: 0px !important;
    padding-top: 30px;
    padding-bottom: 30px;
}

.table {
    font-weight: 400;
}

.table a {
    text-decoration: none;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #dedede;
}

.dataTables_wrapper .dataTables_length select {
    padding: 6px !important;
}

.dataTables_length, .dataTables_filter {
    margin-bottom: 18px;
}

table.dataTable {
    margin: 10px auto;
}

.table-header {
    background-color: #DDD;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

.tbl-container {
    max-height: 350px;
}

.main-container {
    display: flex;
    position: relative;
}

.sidebar {
    width: 260px;
    display: flex;
    position: fixed;
}

.main-content {
    width: 100%;
    left: 260px;
}

.form-control, .btn, .form-select{
    border-radius: 3px !important;
}

.page-title {
    padding-left: 15px;
    padding-top: 15px !important;
}

.btn-icon {
    background: none;
    border: none;
    color:var(--bs-blue);
    padding: 0px;
}

.btn-icon:hover {
    background: none;
    border: none;
    color:var(--bs-red);
}

#results_list {
    width: 100%;
    display: none;
    padding-left: 0px;
    position: absolute;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--background-white);
    border: solid 1px var(--top-title-border);
    z-index: 10;
    margin-top: 38px;
}

#results_list li {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    list-style: none;
}

#results_list li:hover {
    background-color: var(--table-header);
    cursor: pointer;
    left:0px
}

.card-title {
    margin-bottom:3px
}

.card-stats {
    font-size: 30px !important; 
    margin-bottom: 0;
}

.card-header h5 {
    margin-top: 7px;
    color: var(--text-black);
}

.agenda-content {
    width: 95%;
    margin: 0px auto;
}

.agenda {
    border: solid 2px #eb4034;
    border-radius: 6px;
    max-width: 45px;
    margin: 10px auto 10px auto;
}

.agenda-header {
    background-color: #eb4034;
    color: var(--background-white);
    text-align: center;
    min-height: 15px;
    text-transform: uppercase;
    font-size: 10px;
}

.agenda-body {
    background-color: var(--background-white);
    text-align: center;
    border-radius: 6px;
}

.agenda-title {
    padding-top: 10px;
    font-weight: 400;
    margin-bottom: 0px;
}

.agenda-comment {
    font-weight: 200;
}

.card-body .contact-title {
    font-weight: 400;
    font-size: 18px;
}

.card-body p {
    font-weight: 300;
    font-size: 15px;
}

.span-pendiente, .span-finalizado, .span-entregado, .span-cancelado {
    color: #fff;
    background-color: #fd7e14;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    padding: 4px;
}

.span-finalizado {
    background-color: #198754;
}

.span-entregado, .span-cancelado {
    background-color: #adb5bd;
}