:root {
    --background-main: #f5f7fa;
    --background-sidebar: #ffffff;
    --text-black: #333;
    --text-gray: #555;
    --sidebar-width: 15rem;
    --top-title-border: #c5cddb;
    --table-header: #e8f5ff;
    --border-gray: #dadada;
    --nav-height: 90px;
    --theme-success: #d9fbd0;
    --theme-success-dark: #bee8b4;
    --theme-warning: #ffefca;
    --theme-warning-dark: #ffcc85;
    --theme-cancelled: #e3e6ed;
    --theme-cancelled-dark: #cbd0dd;
    --theme-danger: #ffe0db;
    --theme-danger-dark: #fabcb3;
}

hr {
    border-color: #777;
}

body {
    background-color: var(--background-main) !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.aside {
    height: 100vh;
    position: fixed;
    width: var(--sidebar-width);
    background-color: var(--background-sidebar);
    border-right: 1px solid var(--top-title-border);
    z-index: 50;
}

.side-menu {
    position: relative;
    top: var(--nav-height);
}

.side-menu-list {
    padding-left: 1rem;
}

.side-menu-list a {
    list-style: none;
    padding-left: 10px;
}

.side-menu-item a {
    text-decoration: none;
    width: 100%;
    color: var(--text-gray);
}

.side-menu-item {
    width: 95%;    
    display: flex;
    padding: 10px 8px;
    border-radius: 8px;
    color: var(--text-gray);
    transition: background-color ease-out 0.3s;
    transition: padding ease-out 0.3s;
}

.side-menu-item:hover {
    background-color: var(--background-main);
    padding-left: 15px;
}

.main-nav {
    position: fixed;
    width: 100%;
    min-height: 75px;
    background-color: var(--background-sidebar);
    border-bottom: solid 1px var(--border-gray);
    z-index: 100;
}

.main-title {
    padding: 18px;
    padding-left: 48px;
    margin: 0px;
}

.div-content {
    width: 97%;
    margin: 0px auto;
    position: relative;
    top: var(--nav-height);
}

.content {
    margin-left: var(--sidebar-width);
    height: 100vh;
}

.pl-0 {
    padding-left: 0px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.card-table {
    border-radius: 0px !important;
    padding-top: 30px;
    padding-bottom: 30px;
}

.table {
    font-weight: 400;
}

.table.tbody.tr.td.a {
    text-decoration: underline;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #dedede;
}

.dataTables_wrapper .dataTables_length select {
    padding: 6px !important;
}

.dataTables_length, .dataTables_filter {
    margin-bottom: 18px;
}

table.dataTable {
    margin: 10px auto;
}

.table-header {
    background-color: var(--table-header);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

#mytable_filter, #mytable_length {
    padding: 20px;
    margin: 0px;
}

#mytable_info, #mytable_paginate {
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.tbl-container {
    max-height: 350px;
}

.main-container {
    display: flex;
    position: relative;
}

.sidebar {
    width: 260px;
    display: flex;
    position: fixed;
}

.main-content {
    width: 100%;
    left: 260px;
}

.page-title {
    padding-left: 15px;
    padding-top: 15px !important;
}

.btn-icon {
    background: none;
    border: none;
    color:var(--bs-blue);
    padding: 0px;
}

.btn-icon:hover {
    background: none;
    border: none;
    color:var(--bs-red);
}

#results_list {
    width: 100%;
    display: none;
    padding-left: 0px;
    position: absolute;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--background-sidebar);
    border: solid 1px var(--top-title-border);
    z-index: 10;
    margin-top: 38px;
}

#results_list li {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    list-style: none;
}

#results_list li:hover {
    background-color: var(--table-header);
    cursor: pointer;
    left:0px
}

.card-title {
    margin-bottom:3px
}

.card-stats-3 {
    font-size: 30px !important; 
    margin-bottom: 0;
}

.card-stats-2 {
    font-size: 20px !important; 
    margin-bottom: 0;
}

.card-header h5 {
    margin-top: 7px;
    color: var(--text-black);
}

.card a {
    text-decoration: none;
    color: var(--text-black);
}

.card a:hover {
    color: #0d6efd;
}

.card-transparent {
    border-radius: 5px;
    border: solid 1px var(--border-gray);
    padding: 12px;
}

.agenda-content {
    width: 95%;
    margin: 0px auto;
}

.agenda {
    border: solid 2px #eb4034;
    border-radius: 6px;
    max-width: 45px;
    margin: 10px auto 10px auto;
}

.agenda-header {
    background-color: #eb4034;
    color: var(--background-sidebar);
    text-align: center;
    min-height: 15px;
    text-transform: uppercase;
    font-size: 10px;
}

.agenda-body {
    background-color: var(--background-sidebar);
    text-align: center;
    border-radius: 6px;
}

.agenda-title {
    padding-top: 10px;
    font-weight: 400;
    margin-bottom: 0px;
}

.agenda-comment {
    font-weight: 200;
}

.card-body .contact-title {
    font-weight: 400;
    font-size: 18px;
}

.card-body p {
    font-weight: 300;
    font-size: 15px;
}

.span-pendiente, .span-finalizado, .span-entregado, .span-cancelado, .span-refacciones, .span-abono{
    color: var(--text-black);
    background-color: var(--theme-danger);
    border-radius: 5px;
    border: solid 1px var(--theme-danger-dark);
    font-weight: 500;
    font-size: 12px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.span-abono {
    background-color: var(--theme-warning);
    border: solid 1px var(--theme-warning-dark);
}

.span-refacciones {
    background-color: var(--theme-warning);
    border: solid 1px var(--theme-warning-dark);
}

.span-finalizado {
    background-color: var(--theme-success);
    border: solid 1px var(--theme-success-dark);
}

.span-entregado, .span-cancelado {
    background-color: var(--theme-cancelled);
    border: solid 1px var(--theme-cancelled-dark);
}