:root {
    --background-main: #f2f4f5 ;
    --background-sidebar: #f0f6ff;
    --text-gray: #555;
    --sidebar-width: 15rem;
    --top-title-background: #f0f6ff;
    --top-title-border: #c5cddb;
    --button-sidemenu-hover:#e6eff7;
    --table-header: #daedfc;
}

body {
    background-color: var(--background-main) !important;
}

.aside {
    height: 100vh;
    position: fixed;
    padding-top: 30px;
    width: var(--sidebar-width);
    background-color: var(--background-sidebar);
    border-right: 1px solid var(--top-title-border);
}

.side-menu-list {
    padding-left: 1rem;
}

.side-menu-list a {
    list-style: none;
    padding-left: 10px;
}

.side-menu-item a {
    text-decoration: none;
    width: 100%;
    color: var(--text-gray);
}

.side-menu-item {
    width: 95%;    
    display: flex;
    padding: 8px;
    border-radius: 8px;
    color: var(--text-gray);
    transition: background-color ease-out 0.3s;
    transition: padding ease-out 0.3s;
}

.side-menu-item:hover {
    background-color: var(--button-sidemenu-hover);
    padding-left: 15px;
}

.content {
    margin-left: var(--sidebar-width);
    height: 100vh;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.tbl-header {
    background-color: var(--background-sidebar);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

.tbl-container {
    max-height: 350px;
}

.main-container {
    display: flex;
    position: relative;
}

.sidebar {
    width: 260px;
    display: flex;
    position: fixed;
}

.main-content {
    width: 100%;
    left: 260px;
}

.top-title {
    padding: 10px;
    border-radius: 8px;
    border: solid 1px var(--top-title-border);    
    background-color: var(--top-title-background);
}

.btn-icon {
    background: none;
    border: none;
    color:var(--bs-blue);
}

.btn-icon:hover {
    background: none;
    border: none;
    color:var(--bs-red);
}